<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Cars</title>
</head>

<body>
<h1>Cars list</h1>
<!--<p>Table of car</p>-->
<p th:text="${cars}"></p>
<table th:border="5">
    <tr>
        <th>Model</th>
        <th>Year of production</th>
        <th>Power</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:utext="${car.model}">...</td>
        <td th:utext="${car.yearOfProduction}">...</td>
        <td th:utext="${car.power}">...</td>
    </tr>
</table>
</body>
</html>